/* Navigation */
.fluid-nav-logo {
  width: 12vw;
}

.fluid-nav-image {
  width: 2.5vw;
}

.fluid-nav-text {
  font-size: 1vw;
}

/* Content */
.fluid-content-title {
  font-size: 2vw;
}

.fluid-content-title-secondary {
  font-size: 1vw;
}

.fluid-content-text {
  font-size: 0.8vw;
}

.fluid-content-button {
  font-size: 1.5vw;
}

/* Content hover hide/show */
.content-item {
  display: none;
  transition: all 0.3s ease-in-out;
}
.content-item.active {
  display: block;
}

@media only screen and (max-width: 1400px) {
  .fluid-content-title {
    font-size: 2rem;
  }
  .fluid-content-title-secondary {
    font-size: 1rem;
  }
  .fluid-content-text {
    font-size: 0.8rem;
  }
}
